/* titles */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Marck+Script&family=Maven+Pro&family=Nova+Round&display=swap');

/*
    font-family: 'Kanit', sans-serif;
    font-family: 'Marck Script', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Nova Round', cursive;
*/
* {
    --decorative-bg-color: #5252E7;
    --decorative-fg-color1:#AAAAF3;
    --decorative-fg-color2:#0A0A3B;
    --secondary-fg-color: #1919B8;
    --secondary-bg-color: #FFFFFF;
}
body {
    background-color: var(--decorative-fg-color);
    color: var(--decorative-fg-color2);
    font-family: 'Nova Round', cursive;
}

a {
    color: var(--decorative-fg-color2);
}

.body-wrapper {
    display: flex;
    justify-content: space-around;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
h1 {
    font-size: 5vw;
    font-family: 'Maven Pro', sans-serif
}

.navbar {
    padding: 0.5em 2em;
}

.next-prev {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    padding: 1em 2em;
}

a {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}
.home > a {
    font-size: 1.5em;
}

.reference {
    color: var(--decorative-fg-color2);
    text-align: end;
}
.welcome {
    margin: 4em;
}
.definition-section {
    /* background-color: var(--decorative-fg-color2); */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2em;
    width: clamp(40ch, 100%, 75ch);
    background-color: blue;
}


.wordlist {
    display: flex;
    justify-content: space-between;
}

.wordlist > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
.wordlist-section {
    font-size: 30px;
}
.wordlist > img {
    max-width: 50%;
    height: 100%;
}

.word {
    color: var(--secondary-fg-color);
}

.definition {
    width: 100%;
    letter-spacing: 1.5px;
}